.drawer {
	width: 350px;
}

.button {
  margin: 0 auto;
	display: block !important;
	position: relative;
	text-align: center;
}

.imageInput {
  cursor: pointer;
  position: absolute;
	display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.headline {
	font-size: 22px;
	padding: 10px 25px;
	color: white;
	background-color: #1976D2;
}

.formWrapper {
	padding: 10px 25px;
}

.selectedPhoto {
	max-width: 100%;
	margin: 0 12px;
	font-size: 0.75em;
	font-style: italic;
}
