.toolbar {
	width: 100%;
	background-color: #ddd;
	padding: 10px 1em;
	margin-bottom: 10px;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
}

.dropdownIcon {
	margin-top: 8px;
}

.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
