.toolbar {
	width: 100%;
	background-color: #ddd;
	padding: 10px 1em;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
}

.dropdownIcon {
	margin-top: 8px;
}

.list {
	list-style-type: none;
}
