.button {
  margin: 12px 12px 0;
	display: block!important;
}

.buttonSubmit {
	margin: 0 12px 12px;
	display: block!important;
}

.imageInput {
  cursor: pointer;
  position: absolute;
	display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.headline {
	font-size: 22px;
	padding: 10px 25px;
	color: white;
}

.formWrapper {
	padding: 10px 25px;
}
