@import 'theme/_theme.scss';

.appBar {
	width: 100%;
	padding: 0;
	height: auto;
	background-color: $color-primary;

	> div[class*="container"] {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		min-height: 35px;
	}

	.controlMenu {
		button { color: white !important; }
	}
}

.menuItems {
	text-transform: uppercase;

	li, a {
		font-weight: 400;
		font-size: 14px;
		color: black;
		-webkit-font-smoothing: antialiased !important;
		font-smoothing: antialiased !important;

		&[class*='active'] { font-weight: 600; }
	}

	> button > span[data-react-toolbox="font-icon"] { color: white;	}
}

.menuItemsDesktop {
	display: flex;
	flex-wrap: nowrap;

	li[data-react-toolbox="menu-item"] {
		transition: background 0.3s ease;
		color: white;
		text-transform: uppercase;
		margin: 6px 0;
		padding: 0 15px;
		border-radius: 4px;

		&:hover { background-color: rgba(0,0,0,0.1)}
		&:first-child { margin-left: 0;}
		&[class*='active'] { font-weight: 600; }

		&:last-child {
			margin-left: 30px;
			position: relative;
			overflow: visible;

			&::before {
				content: '';
				display: block;
				position: absolute;
				height: 75%;
				width: 1px;
				top: 0;
				bottom: 0;
				margin: auto;
				left: -15px;
				background-color: rgba(255,255,255,0.1);
			}
		}
	}
}

.title {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: -4px;
	margin-right: 17px;
	padding: 0.75em 0;
}
