header[data-react-toolbox="app-bar"] {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: fixed;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 1.25em;
	min-width: 140px;
}

.menuItems {
	width: 100%;
	padding-top: 1.15em;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-transform: uppercase;
	text-align: left;

	> * {
		padding: 0.15em 0;
		position: relative;
		transition: transform 0.3s ease;
		color: white;
	}

	> li[data-react-toolbox="menu-item"]{
		font-weight: 300;

		&[class*='active'] {
			font-weight: 400;
		}

		&:hover { background-color: rgba(0,0,0,0); }
	}

	span[data-react-toolbox="font-icon"] > li {
		color: white;
		padding: 0;
	}

	div[data-react-toolbox="menu"] { color: black;}

	> hr {
		opacity: 0.1;
		padding: 0;

		+ div { padding-top: 0; }
	}
}

.title {
	text-decoration: none;
	text-transform: uppercase;
}
