.container, .innerWrapper, html, body { min-height: 100%; }

.container {
  width: 100%;
	display: flex;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;

	> * {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
}

.navWrapper {

}

.innerContainer {
  max-width: 1400px;
	width: 100%;
	padding-left: 188px; // this is to combat the fact that we want a fixed nav on the left, but it breaks document flow
  margin: 2em auto;
}
