div[data-react-toolbox="card"] {
	margin: 0 7px 7px;
	position: relative;
	background-color: rgba(0,0,0,0.025);
	width: 250px;

	h4 {
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: underline;
		font-size: 0.85em;
		margin-top: 15px;
	}

	div[data-react-toolbox="avatar"] {
		width: 45px;
		height: 37px;
	}
}

.cardHasSubContent div[data-react-toolbox="card"] {
	background-color: white;
	cursor: pointer;

	&.cardNotExpanded {

	}

	.cardExpanded {

	}
}

.fullWidthPhoto { margin: 0; }

.chips {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	span {
		font-size: 10px;
		padding: 5px 12px;
		border-radius: 32px;
		background-color: #ddd;
		height: auto;
		display: flex;
		margin-right: 5px;
	}

	.statusReplace, .statusWarning {
		color: white;
		text-transform: uppercase;
	}

	.statusReplace { background-color: darken(red, 15%); }
	.statusWarning { background-color: darken(orange, 15%); }
}
