@import 'theme/_theme.scss';

.toolbarWrapper {
	margin: 46px auto;
	width: 100%;
}

.toolbar {
	background-color: $palette-grey-200;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-content: space-around;
	text-transform: uppercase;
	position: relative;

	&::before {
		content: '';
		width: 1px;
		height: 30%;
		left: 0;
		right: 0;
		top: 10%;
		background-color: rgba(0,0,0,0.15);
		display: block;
		margin: auto;
		position: absolute;
	}

	.newWrapper {
		order: 1;
		position: absolute;
		top: 10px;
	}

	.sortWrapper {
		order: 2;
		align-self: flex-end;
		padding: 0.25em 0;
	}

	.newWrapper, .sortWrapper { width: 50%; }

	.filterWrapper {
		order: 3;
		width: 100%;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	li[data-react-toolbox="menu-item"],
	button[data-react-toolbox="button"] { height: 100%; }

	.filterWrapper {
		position: relative;
		background-color: $color-primary;
		padding: 0.25em 0.5em;

		> span { text-transform: uppercase; }
		div[data-react-toolbox="input"]::after { border-top-color: white; }

		> div[data-react-toolbox="autocomplete"] {
			padding: 0 20px;

			> ul,
			> div[data-react-toolbox="input"] { padding: 0; }
			> div[data-react-toolbox="input"] > input { border-color: rgba(255,255,255,0.1); }

			label[class*='theme__label'] {
				top: 1.3rem;
				color: white !important;
			}

			input[type='text'] {
				color: white;
				font-weight: 300;
				position: relative;
				padding-top: 20px;
				padding-bottom: 2px;
			}

			> ul[class*='theme__suggestions'] {
				margin-top: 5px;
				margin-left: -20px;
				color: black;
			}
		}

		.filterChip {
			font-size: 12px;
			background-color: $color-accent;
			color: #fff;
		}

		.chipWrapper {
			color: white;
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-around;
			align-content: center;
			align-items: center;
			height: 100%;
			padding: 0.3em 0.5em;
		}
	}

	.sortWrapper {
		display: flex;
		height: auto;

		> button[class*='toggle'] {
			display: flex;
			width: 100%;
			justify-content: flex-end;

			li[class*='menuItem'] {
				&:first-child { padding-right: 0; }
				&:last-child { padding-left: 0; }
			}
		}

		div[data-react-toolbox="menu"] ul li { padding: 0.75em; }
	}

	.sortWrapperIcon {
		padding: 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	@media (min-width: 900px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;

		&::before { display: none; }
		> * { height: auto; }

		.sortWrapper,
		.newWrapper { width: 30%; }

		.sortWrapper {
			order: 3;
			align-items: stretch;
			padding-bottom: 6px;
		}

		.newWrapper {
			position: inherit;
			top: inherit;
		}

		.filterWrapper {
			width: 40%;
			order: 2;
			border-radius: 0;
		}
	}
}
