$pink: #ff4081;
$blue: #1976D2;

div[data-react-toolbox="card"] {
	margin: 14px 14px;
	position: relative;
	width: 250px;
	height: 0%;

	h4 {
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: underline;
		font-size: 0.85em;
		margin-top: 15px;
	}

	div[data-react-toolbox="avatar"] {
		width: 45px;
		height: 37px;
	}

	.cardActions {
		background: #efefef;
	}

	.subCardActions {}
}

.fullWidthPhoto { margin: 0; }

.chips {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	span {
		font-size: 10px;
		padding: 5px 12px;
		border-radius: 32px;
		background-color: #ddd;
		height: auto;
		display: flex;
		margin-right: 5px;
	}

	.statusReplace, .statusWarning {
		color: white;
		text-transform: uppercase;
	}

	.statusReplace { background-color: darken($pink, 25%); }
	.statusWarning { background-color: darken($blue, 25%); }
}
