.filterChip {
	font-size: 12px;
	background-color: $color-accent;
	color: #fff;
}

.chipWrapper {
	color: white;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	height: 100%;
	padding: 0.3em 0.5em;
}
