html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: #5F5F5F;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.largeHeader {
  color: #00529C;
  font-weight: 100;
  font-size: 64px;
  margin-bottom: 20px;
}

.subHeader {
  color: #00529C;
  font-size: 35px;
  text-align: center;
  line-height: 55px;
  font-weight: 100;
}
