$blue: darken(#2196f3, 35%);

*[class*='card'] {
	// margin: 7px 5px;
	position: relative;
	height: 0%; // prevents items from matching height of all other items on the same row

	h4 {
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: underline;
		font-size: 0.85em;
		margin-top: 15px;
	}
}

.fullWidthPhoto { margin: 0; }

.gear {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	color: #ddd;
	font-size: 18px;
	transform: rotate(30deg);
	transition: color 0.3s ease;

	&:hover { color: $blue; }
}

.chips {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	span {
		font-size: 10px;
		padding: 5px 12px;
		border-radius: 32px;
		background-color: #ddd;
		height: auto;
		display: flex;
		margin-right: 5px;
	}

	.nameChip {
		background-color: $blue;
		color: #fff;
	}

	.statusReplace, .statusWarning {
		color: white;
		text-transform: uppercase;
	}

	.statusReplace { background-color: darken(red, 15%); }
	.statusWarning { background-color: darken(orange, 15%); }
}
