.editMenu {
	position: absolute;
	top: -4px;
	right: -4px;
	padding-right: 5px;
	font-size: 18px;

	button { color: #ddd !important; }

	ul li  {
		
		span[class*='caption'] {
			font-size: 14px;
		}
	}
}
